# Add any directories, files, or patterns you don't want to be tracked by version control

# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Build
/build
/dist
/.opt-in
.firebaserc
database.rules.josn
firebase.json
storage.rules
/.firebase
/src/.firebaserc
/src/firebase.js